{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="services-section">
    <div class="inner-width">
        <h1 class="section-title">What is CodeArete?</h1>
        <div class="border-bottom"></div>
        <div class="services-container">
            <div class="service-box">
                <div class="service-icon">
                    <i class="fa fa-code" aria-hidden="true"></i>
                </div>
                <div class="service-title">WIP Code Projects</div>
                <div class="service-desc">I will be posting blog WIP projects on the website as I go through my journey as a web developer/software developer. These posts will detail my thoughts on my application, why I’m building it and the problems I’ve come to beat and problems I think that will arrive. I will be going as detailed as possible, discussing algorithms, clean code and future features that will be added.</div>
            </div>
            <div class="service-box">
                <div class="service-icon">
                    <i class="fas fa-blog"></i>
                </div>
                <div class="service-title">Active Blog for technology trends</div>
                <div class="service-desc">CodeArete will be updated once a week with posts on the various technology topics of Programming projects I’m working on, things going on in the technology industry, Ideas for future projects for beginners, Write ups about languages that should be learned in the industry and what they should be used for. </div>
            </div>
            <div class="service-box">
                <div class="service-icon">
                    <i class="fa fa-microchip" aria-hidden="true"></i>
                </div>
                <div class="service-title">Website constantly updated</div>
                <div class="service-desc">Features will be added to CodeArete website as my skills are developed, the website will be updated to look better, go through several revamps and be thoroughly documented to showcase my skills increasing. Features such as comments, user login and email newsletters will be added as time passes and skills get better. The website will also have a portfolio section added to showcase completed projects to potential employers.</div>
            </div>
            <div class="service-box">
                <div class="service-icon">
                    <i class="fa fa-list-alt" aria-hidden="true"></i>
                </div>
                <div class="service-title">Portfolio</div>
                <div class="service-desc">CodeArete at its core will be a blog but a portfolio section will be added soon to showcase completed projects. These projects will have detailed posts about the idea behind the project, the features, and the design of it. I will walk through all the steps and logic of each project. Detailed comments of what each function does will be provided with source uploaded at Github (All will be open source with links to my personal GitHub)</div>
            </div>
            <div class="service-box">
                <div class="service-icon">
                    <i class="fa fa-cogs" aria-hidden="true"></i>
                </div>
                <div class="service-title">Features Coming Soon!</div>
                <div class="service-desc">
                    <p>User Login - Coming Soon</p>
                    <p>Comment section for verified users - Coming Soon</p>
                    <p>Ability to favorite and like posts - Coming Soon</p>
                    <p>Newsletter sign up for post update - Coming Soon</p>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock%}